<% if user_signed_in? %>
  <p>
    User <%= current_user.email %> signed in at <%= current_user.current_sign_in_at %> from <%= current_user.current_sign_in_ip %>
    with last sign in at <%= current_user.last_sign_in_at %> from <%= current_user.last_sign_in_ip %>
    totalling <%= current_user.sign_in_count %> sign ins.
  </p>
  <p><%= link_to 'Send invitation', new_user_invitation_path %></p>
  <p><%= link_to 'Account settings', edit_user_registration_path %></p>
  <p><%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
<% end %>
